



// -----------------------------
// 1.  #Header
// -----------------------------

.header-wrapper {
    padding: 0 2%!important;
    @media @tablet {
        padding: 2%!important;
    }
}

.header-extendednavigation {
    margin: -6px;
    @media @tablet {
        margin: 0;
    }
}

.template-header {
    background-color: @color__header--background!important;
    min-height: 50px;
}




// -----------------------------
// 2.  #Navigation
// -----------------------------

.navigation-list--children {
    border: 0;
    background-color: @color-swatch2;
}

.navigation-item .item-name {
    padding: 10px 15px;
}

.navigation-list--children {
    top: 90%;
}

.extendednavigation__navigation-item.selected > .item-name,
.extendednavigation .navigation-item .item-name:hover {
    background-color: lighten(@color__header--background, 10%);
    @media @tablet {
        background-color: transparent;    
    }
}

.navigation-item.folder .navigation__item-name {
    &:hover {
        background-color: darken(@color-swatch2, 10%)!important;
    }
}

.navigation-toggle {
    background-color: transparent;
    box-shadow: none;
    &:before {
        background: @color-swatch1;
        box-shadow: 0 6px 0 @color-swatch1;
    }
    &:after {
        background: @color-swatch1;
    }
}

.open .navigation-body {
    border: 0;
}

.open .navigation-toggle {
    background-color: transparent;
    &:before {
        background: @color-swatch1;
    }
    &:after {
        background: @color-swatch1;
    }
}



// -----------------------------
// 3.  #Feature
// -----------------------------

.feature__content-wrap {
    background-color: fade(@color__feature-content--background, 70%);
}

.feature__background-image {
    height: 100vh;
    @media @tablet {
        height: 400px;
    }
}

.feature__headline, .feature__strapline {
    text-shadow: 2px 2px fade(#333333,30%);
}




// -----------------------------
// 4.  #Button
// -----------------------------

.button.feature__button {
    border: 0;
    border-radius: 50px;
    -webkit-box-shadow: 6px 6px 4px -3px rgba(0,0,0,0.11);
    -moz-box-shadow: 6px 6px 4px -3px rgba(0,0,0,0.11);
    box-shadow: 6px 6px 4px -3px rgba(0,0,0,0.11);
}

.button, 
button,
.socialicons__social-link {
    -webkit-box-shadow: 6px 6px 4px -3px rgba(0,0,0,0.11);
    -moz-box-shadow: 6px 6px 4px -3px rgba(0,0,0,0.11);
    box-shadow: 6px 6px 4px -3px rgba(0,0,0,0.11);
    padding: 6px 20px;
}

.socialicons__social-link {
    padding: 10px;
}



// -----------------------------
// 4.  #Contact Form
// -----------------------------

.contactform__legend {
    background-color: lighten(@color__form--background, 10%);
    margin-bottom: 20px;
}

.contactform__fieldset {
    width: 100%;
}

.contactform__form-body {
    width: 70%;
    margin: 0px auto;
}

.signupform__label:after, 
.contactform__legend:after, 
.blogsearch__legend:after {
    display: none;
}

.signupform__label, 
.contactform__legend, 
.blogsearch__legend {
    padding: 20px;
    font-size: @font-swatch3-font-size;
    line-height: @font-swatch3-line-height;
}

input.input[type=email]:focus, 
input.input[type=search]:focus, 
.contact-form__textarea:focus,
textarea:focus {
    background-color: lighten(@color__form--background, 10%);
    border-bottom: 1px solid transparent;
    color: #ffffff;
}

input.input[type=email], 
input.input[type=search], 
.contact-form__textarea,
textarea {
    background-color: lighten(@color__form--background, 10%);
    border-bottom: 1px solid transparent;
    color: #ffffff;
}




// -----------------------------
// 4.  #Social Icons
// -----------------------------

.signupform__label {
    margin: 10px;
}

.socialicons__social-link {
    background-color: @color__socialicons--icon--background;
    border: 1px solid @color__socialicons--border;
    color: @color__socialicons--text;
    &:hover {
        color: @color__socialicons--icon--hover;
        background-color: @color__socialicons--icon--background--hover;
    }
}


.gallery__caption .image-title {
    font-size: @font-swatch3-font-size;
    line-height: @font-swatch3-line-height;
}


// -----------------------------
// 2.  #Slideshow
// -----------------------------

.responsiveslideshow .pagination-item.selected .button--pagination,
.listing-pagination .pagination-item.current a {
    background-color: darken(@color-swatch2, 10%);
}




// -----------------------------
// 2.  #Blog
// -----------------------------

.blogpostlist__title-link,
.blogpost__post-attributes a, 
.blogpostlist__post-excerpt a {
    color: @color__h1--text;
}



// -----------------------------
// 2.  #Ecommerce
// -----------------------------

.ecomproductslist__form {
    padding: 10px;
}

.ecomproductslist__button {
    padding: 1px 30px;
    color: #ffffff;
}

.ecomproductslist__product-item-title,
.ecomproduct__legend,
.ecomproductslist__title-link,
.ecomfeaturedproducts__title-link,
.ecomproduct__label {
    color: @color__h1--text;
}

.ecombasketsummary__summary-form {
    background-color: transparent;
}

.ecomproductslist__listing-title:after, 
.ecombasketsummary__summary-title:after, 
.ecomproduct__product-title:after, 
.ecomfeaturedproducts__listing-title:after {
    display: none;
}

.js-ecom-product-add-to-cart-btn {
    &:hover {
        background-color: darken(@color-swatch3, 10%);
    }
}

.button--quantity {
    background-color: @color__button--background;
    &:hover {
        background-color: @color__button--background--hover;
    }
}

.quantity-wrap .button--quantity {
    box-shadow: none;
    border: 0;
}

.ecomproduct__legend, 
.ecomproduct__label,
td,
th {
    color: @color__p--text!important;
}

.ecomproductslist__listing-title {
    margin-bottom: 20px;
}

.ecomproductslist__product-content,
.ecomfeaturedproducts__product-content {
    border: 0;
}

